
.weaponsMenu {
    width: 250px;
    margin-top: 30%;
    margin-left: 20px;
    border-radius: 5px;
}

.menu-content {
    color: orange;
    text-align: left;
    padding-left: 40px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}
